# Python
__pycache__/
*.py[cod]
*.so
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled files
*.pyc
*.pyo
*.pyd
.Python